@model QLKhachSan.ViewModels.Admin.HoaDonVM
@{
    ViewData["Title"] = "SuaHD";
    Layout = "_LayoutProfile";
}
<h2 style="color:dimgray" class="text-center mb-4">Cập Nhật Hóa Đơn</h2>
<div class="card-body">
    <div class="basic-form">
        <form method="post" asp-action="SuaHD" enctype="multipart/form-data">
            <div class="text-danger">@TempData["Message"]</div>
            <div class="mb-3">
                <input hidden type="text" class="form-control" name="sohoadon" value="@Model.sohoadon" readonly>
                <input hidden type="text" class="form-control" name="maphong" value="@Model.maphong" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Tên phòng</label>
                <input asp-for="tenphong" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày thanh toán</label>
                <input asp-for="ngaythanhtoan" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày đến</label>
                <input asp-for="ngayden" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày đi</label>
                <input asp-for="ngaydi" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Tên khách hàng</label>
                <input asp-for="tenkh" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Số người</label>
                <input asp-for="songuoi" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input asp-for="sdt" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Tình trạng </label>
                <select asp-for="tinhtrang" class="default-select form-control wide mb-3">
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Chưa thanh toán">Chưa thanh toán</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Lưu</button>
        </form>
    </div>
</div>

