
@{
    ViewData["Title"] = "LienHe";
    Layout = "_LayoutAbout";
}
@* <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="under" href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Liên hệ</span></li>
        </ol>
    </div>
</nav>
<div class="page-content">
    <div class="container">
        <div class="row">
            <aside class="sidebar col-lg-3 order-1 order-lg-0">
                <div class="sidebar__content js-sticky-top">
                    <section class="sidebar__card card">
                        <div class="sidebar__card-title">
                            <h4 class="card-title">Liên hệ</h4>
                            <hr class="my-3" />
                        </div>
                        <ul class="sidebar__contacts">
                            <li class="d-flex align-items-baseline"><i class="icon icon-phone mr-2"></i><a href="tel:#">0903888888</a></li>
                            <li class="d-flex align-items-baseline">
                                <i class="icon icon-building mr-2"></i>
                                <p class="mb-0">3 Đ. Cầu Giấy, Ngọc Khánh,<br /> Đống Đa, Hà Nội,<br>Việt Nam</p>
                            </li>
                            <li class="d-flex align-items-baseline"><i class="icon icon-envelope-close mr-2"></i><a href="mailto:#">bookingroom@gmail.com</a></li>
                        </ul>
                    </section>
                </div>
            </aside>
            <div class="col-lg-9 d-flex">
                <div class="contacts-layer card">
                    <div class="contacts-layer__box">
                        <div class="contacts-layer__map" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
</div>
 *@
