
@{
    ViewData["Title"] = "VeChungToi";
    Layout = "_LayoutAbout";
}
<div class="intro-page d-flex align-items-center">
    <div class="page-intro__cover jarallax"><img class="img-cover" src="~/img/upload/16.jpg" alt="#" /></div>
    <div class="container p-5 text-center">
        <h1 class="text-uppercase fw-bold">Về chúng tôi</h1>
    </div>
</div>
<div class="bg-white">
    <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="under" href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Về chúng tôi</span></li>
            </ol>
        </div>
    </nav>
</div>
<div class="page-content">
    <div class="container">
        <div class="col-12 col-lg-6 float-lg-left px-0 pr-lg-4 mb-3"><a href="contacts.html"><img class="img-fluid mx-auto" src="~/img/upload/14.jpg" alt="#"></a></div>
        <ul class="d-flex justify-content-between">
            <li>
                <h5 class="fw-bold">Your Travel World</h5>
            </li>
        </ul>
        <ul class="social-links d-flex mb-3">
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
        <p>Có rất nhiều biến thể của đoạn văn Lorem Ipsum có sẵn, nhưng phần lớn đã trải qua sự biến đổi theo một cách nào đó, bằng cách chèn hài hước, hoặc các từ ngẫu nhiên mà không có vẻ đáng tin cậy. Nếu bạn sẽ sử dụng một đoạn văn Lorem Ipsum, bạn cần đảm bảo rằng không có gì ngượng ngùng ẩn giấu giữa văn bản. Tất cả các công cụ tạo ra Lorem Ipsum trên Internet thường lặp lại các khối được xác định trước theo cần thiết, làm cho đây là trình tạo ra đầu tiên trên Internet. Nó sử dụng từ điển hơn 200 từ Latin, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum có vẻ hợp lý. Lorem Ipsum được tạo ra là do đó luôn miễn phí khỏi sự lặp lại, chèn hài hước hoặc các từ không đặc trưng v.v. Có rất nhiều biến thể của đoạn văn Lorem Ipsum có sẵn, nhưng phần lớn đã trải qua sự biến đổi theo một cách nào đó, bằng cách chèn hài hước, hoặc các từ ngẫu nhiên mà không có vẻ đáng tin cậy. Nếu bạn sẽ sử dụng một đoạn văn Lorem Ipsum, bạn cần đảm bảo rằng không có gì ngượng ngùng ẩn giấu giữa văn bản. Tất cả các công cụ tạo ra Lorem Ipsum trên Internet thường lặp lại các khối được xác định trước theo cần thiết, làm cho đây là trình tạo ra đầu tiên trên Internet. Nó sử dụng từ điển hơn 200 từ Latin, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum có vẻ hợp lý. Lorem Ipsum được tạo ra là do đó luôn miễn phí khỏi sự lặp lại, chèn hài hước hoặc các từ không đặc trưng v.v. Nó sử dụng từ điển hơn 200 từ Latin, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum có vẻ hợp lý. Lorem Ipsum được tạo ra là do đó luôn miễn phí khỏi sự lặp lại. Nó sử dụng từ điển hơn 200 từ Latin, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum có vẻ hợp lý. Lorem Ipsum được tạo ra là do đó luôn miễn phí khỏi sự lặp lại.</p>
        <p>Có rất nhiều biến thể của đoạn văn Lorem Ipsum có sẵn, nhưng phần lớn đã trải qua sự biến đổi theo một cách nào đó, bằng cách chèn hài hước, hoặc các từ ngẫu nhiên mà không có vẻ đáng tin cậy. Nếu bạn sẽ sử dụng một đoạn văn Lorem Ipsum, bạn cần đảm bảo rằng không có gì ngượng ngùng ẩn giấu giữa văn bản. Tất cả các công cụ tạo ra Lorem Ipsum trên Internet thường lặp lại các khối được xác định trước theo cần thiết, làm cho đây là trình tạo ra đầu tiên trên Internet. Nó sử dụng từ điển hơn 200 từ Latin, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum có vẻ hợp lý. Lorem Ipsum được tạo ra là do đó luôn miễn phí khỏi sự lặp lại, chèn hài hước hoặc các từ không đặc trưng v.v.</p>
        <p>Tôi là một chủ doanh nghiệp. Tôi huấn luyện, viết blog, duy trì một trang web và phát triển các chương trình giáo dục cho các hội thảo phát triển lãnh đạo. Tôi sử dụng các phương tiện truyền thông xã hội, bao gồm Facebook, Twitter và LinkedIn. Cho đến nay, sự sao nhãng lớn nhất của tôi là Facebook trên iPhone của tôi. Có rất nhiều biến thể của đoạn văn Lorem Ipsum có sẵn, nhưng phần lớn đã trải qua sự biến đổi theo một cách nào đó, bằng cách chèn hài hước, hoặc các từ ngẫu nhiên mà không có vẻ đáng tin cậy. Nếu bạn sẽ sử dụng một đoạn văn Lorem Ipsum, bạn cần đảm bảo rằng không có gì ngượng ngùng ẩn giấu giữa văn bản. Tất cả các công cụ tạo ra Lorem Ipsum trên Internet thường lặp lại các khối được xác định trước theo cần thiết

        <p class="text-right">
            <a class="btn btn-btn btn-dark" asp-action="LienHe" role="button">Địa chỉ liên hệ của chúng tôi</a>
        </p>
    </div>
    <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
</div>
