@model QLKhachSan.ViewModels.BlogVM
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "_LayoutBlogDetail";
}
<div class="col-lg-9 blog-content">
              <article class="blog-post card">
                <div class="blog-post__head mb-3">
                  <h2 class="blog-post__title mb-3"><a class="point-fade" href="#">Features holiday on the French Riviera</a>
                  </h2>
                  <ul class="blog-post__meta">
                    <li class="date"><i class="icon icon-calendar"></i>
                      <time datetime="2017-01-18">18.01.2017</time>
                    </li>
                    <li class="status"><i class="icon icon-user"></i><span>Admin</span></li>
                    <li><i class="icon icon-tags"></i>
                      <ol class="blog-post__meta-tags">
                        <li><a href="#">France</a>
                        </li>
                        <li><a href="#">Nice</a>
                        </li>
                        <li><a href="#">beach holidays</a>
                        </li>
                      </ol>
                    </li>
                    <li><a class="d-inline-flex align-items-center" href="#"><i class="icon icon-comments"></i><span>5</span></a>
                    </li>
                  </ul>
                </div>
                <figure class="blog-post__cover border-bottom"><a class="img-link" href="#"><img class="img-cover" src="~/img/blog/1.jpg" alt="Features holiday on the French Riviera"/></a></figure>
                <section>
                  <h2>This is an example of the H2 header</h2>
                  <p class="fw-bold">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                  <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                  <blockquote>
                    <div class="d-flex">
                      <div class="media-object"><i class="text-primary">“</i></div>
                      <div class="bq-desc">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                      </div>
                    </div>
                  </blockquote>
                  <section>
                    <h3>This is an example of the H3 header</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                    <ul class="list-bullets mb-4">
                      <li>This is Photoshop's version  of Lorem Ipsum.
                        <ul>
                          <li>This is Photoshop's version  of Lorem Ipsum.</li>
                          <li>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare</li>
                          <li>Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</li>
                          <li>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</li>
                        </ul>
                      </li>
                      <li>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare</li>
                      <li>Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</li>
                      <li>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</li>
                    </ul>
                    <section>
                      <h4>This is an example of the H4 header</h4>
                      <div class="row">
                        <figure class="blog-post__thumb col-12 col-md-6 text-center"><a class="img-link" href="#"><img class="img-fluid img-cover" src="~/img/blog/thumb-1.jpg" alt="#"/></a></figure>
                        <div class="col-12 col-md-6">
                          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                        </div>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                      </div>
                    </section>
                  </section>
                </section>
              </article>
              <section class="blog-post-comments">
                <h4>5 Comments</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="comment-post">
                      <div class="card d-flex flex-column flex-md-row">
                        <div class="comment-post__left d-flex align-items-center">
                          <div class="comment-post__avatar mr-3"><img class="img-fluid" src="~/img/avatar-2.jpg" alt="#"/>
                          </div>
                          <ul class="comment-post__meta">
                            <li class="name">Jessica</li>
                            <li class="date"><i>
                                <time datetime="2018-01-18">18.01.2018</time></i></li>
                            <li class="reaply"><a class="fw-sm" href="#">Reply</a></li>
                          </ul>
                        </div>
                        <hr class="hr comment-post__divider"/>
                        <div class="comment-post__desc py-2">
                          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        </div>
                      </div>
                      <div class="comment-post">
                        <div class="card d-flex flex-column flex-md-row">
                          <div class="comment-post__left d-flex align-items-center">
                            <div class="comment-post__avatar mr-3"><img class="img-fluid" src="~/img/avatar-3.jpg" alt="#"/>
                            </div>
                            <ul class="comment-post__meta">
                              <li class="name">Mike</li>
                              <li class="date"><i>
                                  <time datetime="2018-01-18">18.01.2018</time></i></li>
                              <li class="reaply"><a class="fw-sm" href="#">Reply</a></li>
                            </ul>
                          </div>
                          <hr class="hr comment-post__divider"/>
                          <div class="comment-post__desc py-2">
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="comment-post">
                      <div class="card d-flex flex-column flex-md-row">
                        <div class="comment-post__left d-flex align-items-center">
                          <div class="comment-post__avatar mr-3"><img class="img-fluid" src="~/img/avatar-1.jpg" alt="#"/>
                          </div>
                          <ul class="comment-post__meta">
                            <li class="name">Roman</li>
                            <li class="date"><i>
                                <time datetime="2018-01-18">18.01.2018</time></i></li>
                            <li class="reaply"><a class="fw-sm" href="#">Reply</a></li>
                          </ul>
                        </div>
                        <hr class="hr comment-post__divider"/>
                        <div class="comment-post__desc py-2">
                          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="comment-post">
                      <div class="card d-flex flex-column flex-md-row">
                        <div class="comment-post__left d-flex align-items-center">
                          <div class="comment-post__avatar mr-3"><img class="img-fluid" src="~/img/avatar-face.jpg" alt="#"/>
                          </div>
                          <ul class="comment-post__meta">
                            <li class="name">Mark</li>
                            <li class="date"><i>
                                <time datetime="2018-01-18">18.01.2018</time></i></li>
                            <li class="reaply"><a class="fw-sm" href="#">Reply</a></li>
                          </ul>
                        </div>
                        <hr class="hr comment-post__divider"/>
                        <div class="comment-post__desc py-2">
                          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="comment-post">
                      <div class="card d-flex flex-column flex-md-row">
                        <div class="comment-post__left d-flex align-items-center">
                          <div class="comment-post__avatar mr-3"><img class="img-fluid" src="~/img/avatar-face.jpg" alt="#"/>
                          </div>
                          <ul class="comment-post__meta">
                            <li class="name">Jhon</li>
                            <li class="date"><i>
                                <time datetime="2018-01-18">18.01.2018</time></i></li>
                            <li class="reaply"><a class="fw-sm" href="#">Reply</a></li>
                          </ul>
                        </div>
                        <hr class="hr comment-post__divider"/>
                        <div class="comment-post__desc py-2">
                          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="form-reaply card">
                <h4>Leave a reply</h4>
                <form id="replyMessage" action="#" method="GET" data-toggle="validator">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control rounded" rows="5" name="message" placeholder="Comment" required></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button class="btn btn-secondary btn--round" type="submit">SEND
                  </button>
                </form>
              </section>
            </div>
