@model QLKhachSan.ViewModels.Admin.HoaDonVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaHD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="color: dimgray;" class="text-center mb-4">Cập nhật hóa đơn</h2>
<div class="card-body">
    <div class="basic-form">
        <form method="post" asp-action="SuaHD" enctype="multipart/form-data">
            <div class="text-danger">@TempData["Message"]</div>
            <div class="mb-3">
                <input hidden type="text" class="form-control" name="sohoadon" value="@Model.sohoadon" readonly>
                <input hidden type="text" class="form-control" name="maphong" value="@Model.maphong" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Tên phòng<span class="text-danger">(*)</span></label>
                <input asp-for="tenphong" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày thanh toán<span class="text-danger">(*)</span></label>
                <input asp-for="ngaythanhtoan" type="date" class="form-control" >
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày đến<span class="text-danger">(*)</span></label>
                <input asp-for="ngayden" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Ngày đi<span class="text-danger">(*)</span></label>
                <input asp-for="ngaydi" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Tên khách hàng<span class="text-danger">(*)</span></label>
                <input asp-for="tenkh" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Số người<span class="text-danger">(*)</span></label>
                <input asp-for="songuoi" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Số điện thoại<span class="text-danger">(*)</span></label>
                <input asp-for="sdt" type="text" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Tình trạng<span class="text-danger">(*)</span> </label>
                <select asp-for="tinhtrang" class="default-select form-control wide mb-3">
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Chưa thanh toán">Chưa thanh toán</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Lưu</button>
        </form>
    </div>
</div>

